.Userbackground {
  background-image: url("../../Assets/coffee.jpg");
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.UserContainer {
  height: 600px;
  margin-top: 80px;
}
.loginImage {
  background: linear-gradient(rgba(0, 0, 0, 0.8) 10%),
    url("../../Assets/Login.jpg") left 10% bottom 60% / cover no-repeat
      border-box,
    black;
  position: relative;
}
.loginImage2 {
  background: linear-gradient(rgba(0, 0, 0, 0.8) 10%),
    url("../../Assets/attractive.jpg") left 54% bottom 20% / cover no-repeat
      border-box,
    black;
  position: relative;
}
.signUptext {
  color: white;
  text-transform: uppercase;
  position: absolute;
  bottom: 30%;
  right: 5%;
  font-size: 20px;
}
.formCol {
  background-color: #330432e1;
}
.formCol form {
  margin-top: 20px;
}
label {
  display: block;
  margin-bottom: .5rem;
  color: white;
}
input:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}
.input::placeholder {
  font-style: italic;
}
button:disabled{
  background: #ccc;
}
.submit {
  transition: 0.5s all linear;
  width:100%;
  background: #2a7681;
  color: white;
}
.submit:hover {
  background-color: #17a2b8;
  color: white;
  border: none;
}
.login {
  text-decoration: underline;
  cursor: pointer;
}

.registerCard {
  height: 100%;
  background: #30052f;
  box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 1;
  right:0;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.4s ease-out;
}

.registerCard.opened {
  transform: translateX(0);
}

@media (max-width: 768px) {

}
.danger{
  color: red;
  font-size: 15px;
  font-style: italic
}