/* .HomeContainer{
    background: url('../../Assets//coffee.jpg')/position/size repeat clip origin attachment;
} */
 .chopImage{
  background-image: url('../../Assets/chop.jpg');
  width: 100%;
  height: 400px;
    background-origin: border-box;
    background-clip: border-box;
    background-size: cover;
    border-radius: 3%;
} 
.HomeContainer {
  background: url('../../Assets/marketing.jpg');
  background-origin: border-box;
  background-size: cover;
  background-color:transparent; 
  background-repeat: no-repeat;
  width: 100%;
  height: 640px;
  z-index: 2;
  background-position: 0 21%;
  position: absolute;
  top: 0;
}

.homeHeader{
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 80px;
  margin-bottom: 30px;


}
.basket {
  position: absolute;
    right: -12%;
    /* top: -70px; */
}
.list1{
  list-style: circle
}
.websitelink{
  font-size: 15px;
  letter-spacing: 0.2rem;
  color:gray;
}
@media (max-width: 768px) {
 
  
}
.topText{
  position: relative;
}
.TopContainer{
  margin-top: 600px !important;
}
.topTextParent1{
  position: absolute;
  display:flex;
  flex-direction: column;
  justify-content: center;
  left: 10%;
  top: 10px;
}
.topTextParent2{
  position: absolute;
  display:flex;
  flex-direction: column;
  justify-content: center;
  right: 0%;
  top: 10px;
}
 .headingTitle1{
  font-weight: bolder;
  font-size: 40px;
  left:30
}
.headingTitle2{
  font-weight: bolder;
  font-size: 40px;
}
.headingTitle3{
  font-weight: bolder;
  font-size: 40px;
} 

.icon{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  position:fixed;
  top:50%;
  align-items: center;
  margin-left: -40px;
  
}

.icon ul li{
  list-style: none;
  padding-top: 10px;
  padding-left: 10px;
  margin-left: 0;
}
.icon ul li:first-child{
  background: rgb(0, 0, 133);
  padding: 10px;
  color: white;
}
.icon ul li:nth-child(2){
  background: green;
  padding: 10px;
}
.icon ul li:nth-child(3){
  background: rgb(9, 2, 77);
  padding: 10px;
}
.icon ul li:nth-child(4){
  background: green;
  padding: 10px;
}
.fa-facebook-square:before {
  content: "\f082";
  color: white
}
.fa-instagram:before {
  content: "\f16d";
  color: white;
}
.fa-twitter-square:before {
  content: "\f081";
  color: white
}
.fa-linkedin-square:before {
  content: "\f08c";
  color: white

}
.headerAnimation{
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 3px;
}
.contactus{
  background: rgb(3, 150, 35);
  padding:30px;
  color: white;
}

   @media (max-width: 768px) {
    .basket {
      display: none;
    }
    /* .toolbar_navigation-items {
      display: none;
    } */
    header.icon{display:none !important
    }
    footer{
      margin-left: -39px;
    }
    footer .smallScreenicon{
      position: relative;
      bottom: 0;
      left: 0;
      background: black;
      width: 100%;
      color: white;
      z-index: 400;
      justify-content: center;
      margin: 0 auto;
      padding: 0 0.5rem;
    }
    
    /* .smallScreenicon{
      position:fixed;
      bottom: 0;
      width:100%;
      display: flex;
      flex-direction: row;

    } */
    
    .smallScreenicon ul{
justify-content: center;
margin: 0 auto;
margin-top: 0px;
    }
    .smallScreenicon ul li{
      list-style: none;
      padding-top: 10px;
      padding-left: 10px;
      align-items: center;
      width:100%;

    }
    .smallScreenicon ul li:first-child{
      background: rgb(0, 0, 133);
      padding: 10px;
      color: white;
      text-align: center;
    }
    .smallScreenicon ul li:nth-child(2){
      background: green;
      padding: 10px;
      text-align: center;

    }
    .smallScreenicon ul li:nth-child(3){
      background: rgb(9, 2, 77);
      padding: 10px;
      text-align: center;

    }
    .smallScreenicon ul li:nth-child(4){
      background: green;
      padding: 10px;
      text-align: center;

    }
    .fa-facebook-square:before {
      content: "\f082";
      color: white
    }
    .fa-instagram:before {
      content: "\f16d";
      color: white;
    }
    .fa-twitter-square:before {
      content: "\f081";
      color: white
    }
    .icon ul li:nth-child(4){
      background: green;
      padding: 10px;
    }

    .fa-linkedin-square:before {
      content: "\f08c";
      color: white
    
    }
  }
  
  
  @media (min-width:769px){
      /* .toolbar__toggle-button{
          display: none;
      } */

      
.smallScreenicon{
  display: none;
}
  } 
  
@media only screen and (min-width: 1280px) {
}
@media only screen and (max-width: 1139px) {
}
@media only screen and (max-width: 950px) {
}
@media only screen and (max-width: 500px) {
  /* footer {
    position: relative;
    bottom: 0;
    left: 0;
    background: black;
    width: 100%;
    color: white;
    z-index: 400;
  } */
}
@media only screen and (max-width: 340px) {
}
