.password_container{
    width: 100vh;
    margin: 0 auto;
    margin-top: 200px;
    background-color: #521751;
    box-shadow: inset 1px 1px 1px 1px white;


}
.password_label{
    color: white;
}
.passwordSubmit_button{
text-align: center;
margin-top: 20px;
}
.email_placeholder{
    text-align: center;
}